!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1')
    title= title
    link(rel='stylesheet', href='/js/sencha-touch-2.0.0-pr1/resources/css/sencha-touch.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='js/sencha-touch-2.0.0-pr1/sencha-touch-all.js')
    script(src='js/app.js')
  body!= body